.characters-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.characters-block {
	display: flex;
	justify-content: row;
	width: 22%;
	margin: 10px;

	&__image img{
		width: 160px;
		height: auto;
	}
	&__info {
		display: flex;
		flex-direction: column;
	}
}